<script type="text/javascript">
$(document).ready(function(){
  authUI.init();
});
</script>


<div id="content">
	<div class="panel-default prompt">
		<div class="panel-body">
			<img src="../images/logo.png" style="width:100%;"/><br/>
			partition your time
			<div style="text-align: left;">
				tParted is a free and open source time management web application.<br />
				You can find the source code <a href="https://github.com/demon36/tparted" target="_blank">here on github</a>.<br />
				Please send any suggestions/complaints to <a href="mailto:hssm113@gmail.com" target="_blank">hssm113@gmail.com</a><br/>
			</div>
		</div>
		
	</div>

</div>