    <script type="text/javascript">
      $(document).ready(function(){
        authUI.init();
      });
    </script>
  
    <div id="content">
		<div class="panel-default prompt">
			<div class="panel-body">

				<div style="display:none">
					<label for="loginRadio">login</label><input type="radio" name="action" id="loginRadio" checked/>
					<label for="registerRadio">register</label><input type="radio" name="action" id="registerRadio"/><br>
				</div>
				<img src="../images/logo.png" style="width:100%;"/><br/>
				partition your time

			</div>
		</div>
		<h4>tParted is a free and open source time management web application.</h4>
    </div>